<div class="row justify-content-center">
  <div class="card shadow" style="width: 100%;">
    <img class="card-img-top p-2" [src]="doctor.profile_picture" alt="Doctor image">
    <div class="card-body">
      <div class="row">
        <div class="col-7"><h5 class="card-title mx-auto">Doctor Details:</h5></div>
        <div class="col">
          <button class="btn btn-success" (click)="updateDoctor(doctor.id)"><i class="fas fa-user-edit"></i> Update
          </button>
          <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#exampleModal"><i
            class="fas fa-trash"></i> Delete
          </button>
          <!-- Delete Confirmation Modal-->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><b>Are you sure you want to delete?</b></p>
                  <p>
                    Doctor name: <b>{{ doctor.doctorname }}</b><br>
                    Hospital: <b>{{ doctor.hospital_name }}</b>
                  </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteDoctor(doctor.id)"><i
                    class="fas fa-trash"></i> Delete
                  </button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="far fa-times-circle"></i>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Delete Confirmation Modal-->
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"><h6>Name:</h6></div>
        <div class="col-md-3">{{ doctor.doctorname }}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"><h6>Speciality:</h6></div>
        <div class="col-md-3">{{ doctor.speciality }}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"><h6>Hospital:</h6></div>
        <div class="col-md-3">{{ doctor.hospital_name }}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"><h6>Address:</h6></div>
        <div class="col-md-3">{{ doctor.doctor_address }}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"><h6>About:</h6></div>
        <div class="col-md-3">{{ doctor.about }}</div>
      </div>
    </div>
  </div>
</div>
