<div class="row row justify-content-center align-self-center">
  <div style="width: 400px;" *ngIf="tutorial">
    <h2>Tutorial Details</h2>
    <div>
      <label><b>Title: </b></label> {{tutorial.title}}
    </div>
    <div>
      <label><b>Description: </b></label> {{tutorial.description}}
    </div>
    <div>
      <label><b>Published: </b></label> {{tutorial.published}}
<!--      <img [src]="tutorial.image"alt="">-->
<!--      <img src="data:image/JPEG;base64,{{tutorial.image}}"/>-->
      <img [src]="tutorial.image" class="img-thumbnail" >
      <img src={{imageUrl}} width="100" height="100">
      <img src="data:image/png;base64, {{tutorial.image}}" >
    </div>

    <br>
    <br>
    <button (click)="updateLink()" class="btn btn-info">Update</button>
    <span></span>
    <button (click)="list()" class="btn btn-primary">Back to Tutorial List</button>
    <br>
  </div>
</div>
