<div class="card">
  <div class="card-body">
    <h4>Doctor List:</h4>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dob</th>
        <th scope="col">Contact</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async; let i = index" style="cursor: pointer; "
          (click)="patientDetails(patient.id)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.dob | date:'dd.MM.yyyy' }}</td>
        <td>{{ patient.contact }}</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <button type="button" class="btn btn-primary mt-2" (click)="addPatient()"> + Add new doctor</button>
    <hr>
    <div class="input-group mt-2">
      <div class="input-group-prepend">
        <label>
          <input #input type="text" class="form-control mr-1" placeholder="Enter doctor name">
        </label>
        <span>
          <button class="btn btn-secondary ml-2" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample"
                  (click)="getPatientsByName(input.value)">Find</button>
        </span>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <table class="table table-hover mt-2">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Dob</th>
          <th scope="col">Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patientByName of patientsByName | async; let i = index" style="cursor: pointer; "
            (click)="patientDetails(patientByName.id)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ patientByName.name }}</td>
          <td>{{ patientByName.dob | date:'dd.MM.yyyy' }}</td>
          <td>{{ patientByName.contact }}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-danger p-1" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample"
              (click)="getPatientsByName(input.value)"> Close X
      </button>
    </div>
  </div>
</div>
