<div class="row justify-content-center">
  <div class="card shadow" style="width: 100%;">
    <div class="card-body m-5">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-primary" (click)="downloadPDF()">Download PDF <i class="far fa-file-pdf ml-2"></i></button>
        <button type="button" (click)="cancel()" class="btn btn-danger ml-2">Cancel</button>
      </div>
      <form id="pdf" #pdf class="form-group">
        <h1 class="text-primary"><b><i>New Life Hospital</i></b></h1>
        <h2 class="text-danger">Medical invoice</h2>
        <table class="table table-bordered w-100">
          <thead>
          </thead>
          <tbody>
          <tr>
            <td colspan="2"><b>Patient's Name: {{ patient.name }}</b></td>
            <td colspan="3"><b>Date: {{currentDate | date:'dd-MM-yyyy'}}</b></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
