<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">
  <a href="http://localhost:4200/" class="navbar-brand">New Life Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left aligned components-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/doctors">Doctors</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/patients">Patients</a>
      </li>
      <li class="nav-item dropdown ml-auto" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="cursor: pointer;">
          <a class="dropdown-item">Report list</a>
          <a class="dropdown-item">Create Report</a>
          <a class="dropdown-item">Find Reports</a>
        </div>
      </li>
    </ul>
    <!-- Right aligned components-->
    <ul class="navbar-nav ml-auto" style="margin-right: 5%;">
      <li class="nav-item dropdown ml-auto" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Tutorials
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="cursor: pointer;">
          <a routerLink="tutorials" class="dropdown-item">Tutorials List</a>
          <a routerLink="create" class="dropdown-item">Add Tutorial</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
